.calculator__inputWrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  width: clamp(13.75rem, 3.333333333vw + 13rem, 16rem);
  height: clamp(1.5rem, 0.3703703704vw + 1.416666667rem, 1.75rem);
}

.calculator__inputBorder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 4px;
  padding: 0 4px;
}

.calculator__inputField {
  width: 50px;
  text-align: right;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 100%, 0);
  padding: 2px 2px 2px 4px;
  margin-right: 4px;
}

.calculator__inputField--invalid {
  border-color: red !important;
}

.calculator__measureUnit {
  text-decoration: none;
}
