.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(15.75rem, 4.074074074vw + 14.83333333rem, 18.5rem);
  height: clamp(28.1875rem, 8.981481481vw + 26.16666667rem, 34.25rem);
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 23px;
}

.result {
  display: flex;
  /* margin-top: clamp(1rem, 0.7407407407vw + 0.8333333333rem, 24px); */
}

.result__border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(13.75rem, 3.333333333vw + 13rem, 16rem);
  height: 2.875rem;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 7px;
}
